 <style>
    .redbox {
     width:100px;
     height:100px;
     background-color:red;
     border:none;
    
     

    }

    .circle {
     width:100px;
     height:100px;
     background-color:red;
     border-radius:50px;
     border:none;
     

    }
    .circletitle {
      width:200px;
     height:200px;
     font-weight:bold;
     border:none;
     display:inline-block;  
    }
    .redboxtitle {
      width:200px;
     height:200px;
     font-weight:bold;
     border:none;
     display:inline-block; 
    }
    .service {
      width:350px;
     height:100px;
     border:1px;
     border-color:gray;
     border-style:solid;
     margin-top: 20px;
     font-weight: bold;
     
    }
    .titles {
      margin-left:20px;
    }
    .yes {
      margin-left:20px
    }
    .yes,.no {
      cursor:pointer;
      font-weight:bold;
    }
    .youtube {
      width:360px;
     height:110px;
     border:none;
     background-color:rgb(63, 45, 45); 
     color:white;
     margin-top:50px;
     
     
    }
    .youtubetitle {
      padding-top: 20px;
      margin-left:20px;
      font-size:20px;
      font-weight:bold;
    }
    .detail {
      margin-left:20px;
    }

    .cat-jpg {
      width:50px;
      height:50px;
      object-fit: cover;
      margin-left:15px;
      margin-top:10px;
      display:inline-block;
      border:none;
      border-radius:25px;
      cursor:pointer;
      
    }
    .cat-search {
      margin-top:60px;
      margin-left:50px;
      border:1px;
      border-color: rgb(197, 182, 182);
      border-style:solid;
      box-shadow: 0px 0px 10px  rgba(00,00,00, 0.2);
      width:400px;
      height:70px;
      border-radius:5px;
      
     
    }
    .what {
     
      display:inline-block;
      position:relative;
      bottom:15px;
      left:20px;
      border:none;
      font-size:16px;
      
      
      
      
      
    }
    .tweet {
      position:relative;
      bottom:16px;
      left:50px;
      background-color:rgb(149, 149, 238);
      border:none;
      width:60px;
      height:26px;
      color:white;
      border-radius:15px;
      font-weight:bold;
      cursor:pointer;
      transition: box-shadow 0.5s;
      transition: opacity 0.3s;

    }
    .tweet:hover {
      box-shadow: 5px 5px 5px  rgba(70, 32, 177, 0.2);

    }
    .tweet:active {
     opacity:0.5; 
    }
    .facebook {
      margin-top:40px;
      width: 170px;
      height: 255px;
      border:0.5px;
      border-style:solid;
      border-color:gray;
      box-shadow: 0px 0px 10px  rgba(5, 9, 12, 0.4);
      display:inline-block;
    }
    .cat1-jpg {
      width:170px;
      height:150px;
      object-fit: cover;
      position:relative;
      

    }
    .line {

    line-height: 5px;
    margin-left:7px;

    }
    .name {
      font-size:18px;
      font-weight:bold;
      
      

    }
    .add1 {
      margin-left:7px;
      position:relative;
      height:28px;
      width:100px;
      top:3px;
      border:none;
      background-color:rgb(110, 74, 241);
      color:white;
      cursor:pointer;
    }





    .facebook1 {
      margin-top:40px;
      margin-left:10px;
      width: 170px;
      height: 255px;
      border:0.5px;
      border-style:solid;
      border-color:gray;
      box-shadow: 0px 0px 10px  rgba(5, 9, 12, 0.4);
      display:inline-block;
    }
    .cat1-jpg1 {
      width:170px;
      height:150px;
      object-fit: cover;
      position:relative;
      

    }
    .line1 {

    line-height: 5px;
    margin-left:7px;

    }
    .name1 {
      font-size:18px;
      font-weight:bold;
      
      

    }
    .add11 {
      margin-left:7px;
      position:relative;
      height:28px;
      width:100px;
      top:3px;
      border:none;
      background-color:rgb(110, 74, 241);
      color:white;
      cursor:pointer;
    }



    .facebook2 {
      margin-top:40px;
      margin-left:10px;
      width: 170px;
      height: 255px;
      border:0.5px;
      border-style:solid;
      border-color:gray;
      box-shadow: 0px 0px 10px  rgba(5, 9, 12, 0.4);
      display:inline-block;
    }
    .cat1-jpg2 {
      width:170px;
      height:150px;
      object-fit: cover;
      position:relative;
      

    }
    .line2 {

    line-height: 5px;
    margin-left:7px;

    }
    .name2 {
      font-size:18px;
      font-weight:bold;
      
      

    }
    .add12 {
      margin-left:7px;
      position:relative;
      height:28px;
      width:100px;
      top:3px;
      border:none;
      background-color:rgb(110, 74, 241);
      color:white;
      cursor:pointer;
    }
    .google-logo {
      width:300px;
      display:block;
      margin-top: 50px;
      margin-left:auto;
      margin-right:auto;
    }
    .searchbar {
      width:600px;
      margin-top: 30px;
      margin-left:auto;
      margin-right:auto;
      display:block;
      height:40px;
      border-radius:20px;
      border:0.5px;
      border-style:solid;
      font-size:18px;
      font-family:Arial;
      box-shadow: 0px 0px 5px rgba(0,0,0,0.3);
      border:none;
    }

    .search-button {
      
     display:inline-block;
    }

    .lucky-button {
    display:inline-block;
    margin-left:10px;
    
    }
    .button-class {
    margin-top:40px;
    text-align: center;
     
      
    }
    .search-button1 {
      height:40px;
      width:130px;
      border:none;
      font-weight:bold;
      cursor:pointer;
      transition: opacity 0.15s;
    }

    .lucky-button1 {
      height:40px;
      width:150px;
      border:none;
      font-weight:bold;
      cursor:pointer;
      transition: opacity 0.15s;
    }

    .search-button1:active {
     opacity: 0.5;
    }
    .lucky-button1:active {
      opacity: 0.5;
    }


   </style>
